<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; " />
    <title>{% block title %}{% endblock %}</title>
    {% block style %} {% include "inc-style.html" %} {% endblock %}
  </head>
  <body>
    <div id="main">
      {% block header %} {% include "inc-header.html" %} {% endblock %}
      {% block body %} {% endblock %} 
      {% block footer %} {% include "inc-footer.html" %} {% endblock %}
    </div>
  </body>
</html>
