<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body align="center">
    <h1>Ошибка 404</h1>
    <h3>Вы ищете страницу, которой не существует</h3>
    <h3>Или Вы ищете страницу, которая была удалена,</h3>
    <h3>Либо Вы набрали неправильный адрес страницы.</h3>
    <br />
    <h3>Страница не найдена</h3>
    <br />
    <h3>Попробуте <a href="/">перейти на главную страницу..</a></h3>
  </body>
</html>
