<div id="header">
  <div id="logo">
    <div id="logo_text">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1>
        <a href="index.html">colour<span class="logo_colour">blue</span></a>
      </h1>
      <h2>Simple. Contemporary. Website Template.</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li><a href="index.html">Главная</a></li>
      
      <li><a href="create-category.html">Создать категорию</a></li>
      <li><a href="category-list.html">Категории</a></li>
      <li><a href="create-course.html">Создать курс</a></li>
      <li><a href="course-list.html">Курсы</a></li>
      

      
      <li class="selected"><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
</div>
<div id="content_header"></div>
